/* General Layout */
body {
  display: flex;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: grey;
}

/* Header */
header {
  width: 100%;
  background-color: #343a40;
  color: white;
  padding: 20px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

#header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#search {
  padding: 5px;
  font-size: 16px;
  width: 500px;
  border-radius: 10px;
}

/* Cart Icon */
#cart-icon {
  position: relative;
  font-size: 24px;
  cursor: pointer;
  margin-right: 20px;
}

#cart-icon span {
  background-color: #dc3545;
  border-radius: 50%;
  color: white;
  padding: 2px 8px;
  font-size: 14px;
  position: absolute;
  top: -10px;
  right: -10px;
}

/* Cart Dropdown */
#cart-dropdown {
  position: fixed;
  right: 20px;
  top: 70px;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 300px;
  display: none;
  padding: 20px;
  border-radius: 8px;
}

#cart-dropdown h2 {
  margin-top: 0;
}

#cart-items {
  list-style: none;
  padding: 0;
}

#cart-items li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

#checkout {
  width: 100%;
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 0;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

#checkout:hover {
  background-color: #218838;
}

/* Sidebar */
#sidebar {
  width: 200px;
  padding-top: 100px;
  background-color: #f8f9fa;
  padding-left: 10px;
  height: 100vh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 70px;
}

#sidebar ul {
  list-style: none;
  padding: 0;
}

#sidebar ul li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  transition: background 0.3s;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

#sidebar ul li:hover {
  background-color: #e9ecef;
}

/* Main Content */
main {
  margin-left: 220px;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  flex: 1;
}

.product {
  display: inline-block;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  width: 180px;
  margin: 10px;
  background-color: #fff;
}

.product img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.title{
  border-radius: 50px;
  height: 110px;
}

